<% include ./header.html %>
    <head>
<style>

input {
    width: 300px;
    height: 20px;
    border: 1px solid gray
}
</style>
<script type="text/javascript">
$(document).ready( function () {

	// payReqSend
	$('#authAction').on('click', function (e) {

		// set default
		e.preventDefault();

		var con = "사용자 인증을 요청합니다. \n 진행하시겠습니까? ";

		if (confirm(con) == true) {
		
			var formSerializeArray = $('#cardRegisterForm').serializeArray();
            var data = {};
            
            for(var i=0; i < formSerializeArray.length; i++) {
                data[formSerializeArray[i]['name']] = formSerializeArray[i]['value'];    
            }
			
			$.ajax({
				url : '/pUserDel3',
                dataType: 'json',
                type: 'POST',
                data : data,
				success : function (data) {
                    
					    console.log(data);
                    
                        alert(data.PCD_PAY_MSG);

                        var $_table = $("<table></table>");
                        var table_data = "";

                        $.each(data, function (key, value) {
                            table_data += '<tr><td>'+key+'</td><td>: '+value+'</td><tr>';
                        });

                        $_table.append(table_data);

                        $_table.appendTo('#auth');
				
				},
				error : function (jqxhr, status, error) {
					console.log(jqxhr);
					
				    alert(jqxhr.statusText + ",  " + status + ",   " + error);
				    alert(jqxhr.status);
				    alert(jqxhr.responseText);
				
				}
			});


		} else {

			return false;
			
		}
			
		
	});
	
});
</script>
</head>
<body>
    <div id="authAction">버튼</div>
    <div id="auth"></div>
</body>

<% include ./footer.html %>